# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# setting
pnpm-lock.yaml

#env file
.env*.local

# typescript
*.tsbuildinfo


