<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 
     별명을 지어서 사용 -->
   <typeAliases>
		<typeAlias type="com.multi.ilsang0gam.IlsangVO" alias="ilsangVO"></typeAlias>
		<typeAlias type="com.multi.user.UserVO" alias="userVO"></typeAlias>
	</typeAliases>
   <mappers>
		<mapper resource="mapper/ilsangMapper.xml" />
		<mapper resource="mapper/userMapper.xml" />
	</mappers>
</configuration>